.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-area .user-sign-in{
  color: black;
}
.user-sign-in{
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
}

.error-message{
  color: #c20000 !important;
  font-size: 14px !important;
  padding-top: 20px;
}

.success-message{
  color: #1dc200 !important;
  font-size: 14px !important;
  padding-top: 20px;
}

.file-name{
  text-align: right !important;
  float: right;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #717171 !important;
  font-family: "Proxima Nova SemiBold" !important;
}

.form-banner__attachment{
  position: relative;
}

#input-file{
  position: absolute;
  top: -7px;
  width: 60%;
  left: 0;
  opacity: 0;
  cursor: pointer;
}