.tab__appointment {
  display: flex;
  padding: 0 20px;
}
.box{
  max-width: 50%;
  width: 100%;
}
.box{
  /*max-width: 100%;*/
  display: flex;
  flex-direction: column;
}
.box-items{
  display: flex;
  flex-wrap: wrap;
}
.box .user_selected-input{
  width: 90%;
  margin-bottom: 20px;
}
.box .video_iframe iframe{
  max-width: 100%;
  min-height: 200px;
}

.video-page-wrapper-card{
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 3px rgba(23,23,23,0.25);
  margin-bottom: 30px;
  margin-left: 20px;
}

.admin-video-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.controls{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.controls div{
  width: 100%;
  margin-bottom: 5px;
}
.controls button{
  width: 100%;
  margin-bottom: 5px;
}

.select-group{
  display: flex !important;
  flex-direction: row !important;
}

.video_iframe-preload{
  width: 100%;
  margin-top: 20px;
}
.video_iframe-preload iframe{
  min-height: 400px;
}
#dop-category{
  width: 100%;
  height: 100%;
}

.user-registration{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: auto;
  box-shadow: 0 0 3px rgba(23,23,23,0.4);
  border-radius: 15px;
  padding: 20px;
}

.user-registration .MuiFormControl-root{
  width: 90%;
  margin: auto;
  text-align: center;
}
@media(max-width: 768px){
  .user-registration{
    width: 310px;
  }
}
.user-registration .MuiFormControl-root{
  margin-bottom: 12px;
}